<div id="main-menu" class="main-menu">
  {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
  <ul>
    {% for item in mainmenu %}
    <li class="{% if item.url == page.url %}active{% endif %}">
      <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
    {% for lang in site.languages %}
    {% assign lang_name = site.data[lang].l10n.lang_name %}
    {% if lang == site.active_lang %}
      {{ lang_name }}
    {% else %}
    {% if lang == site.default_lang %}
      <li><a href=" {{ page.url }}">{{ lang_name }}</a></li>
    {% else %}
      <li><a href="/{{ lang }}{{ page.url }}">{{ lang_name }}</a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
</div>
