.pill-tag {
  display: inline-block;
  padding: 0.3rem 0.7rem;
  margin:0 0.5rem 0.5rem 0;
  background-color: none;
  border-radius: 20px;
  border: 1px solid $primary;
  color: $primary;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  flex-shrink: 0;
  word-break: break-all;
  flex-basis: auto;
}

.pill-tag-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}