---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-6 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_name=false show_message_text=false box_title=site.data.strings.want_to_talk %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-6 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-4 pb-2 pt-md-6 pb-md-6">
    <div class="row justify-content-center">
      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<div class="strip">
  <div class="container pt-6 pb-6">
    <div class="col-12 col-md-4 pb-md-4 mb-1"><h1>{{ site.data.strings.my_services }}</h1></div>
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_services | default: 6 %}
      {% for service in site.services limit: limit %}
      <div class="col-12 col-md-4 pb-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
            </h2>
            <p>{{ service.excerpt | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "services" | relative_url }}">{{ site.data.strings.view_all_my_services }}</a>
      </div>
    </div>
  </div>
</div>

{% if site.data.testimonials %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6">
    <div class="col-12 col-md-4 pb-md-4 mb-1"><h1>{{ site.data.strings.what_they_say }}</h1></div>
    <div class="row justify-content-start">
          <div class="col-md-12">
              <div id="testimonial-slider" class="owl-carousel">
                {% for testimonial in site.data.testimonials %}
                  <div class="testimonial">
                    <div class="testimonial-content">
                      <div class="testimonial-icon" style="font-size: 3em"><sub>&rdquo;</sub></div>
                      <p class="description">
                        {{ testimonial.quote }}
                      </p>
                    </div>
                    <h3 class="title">{{ testimonial.name }}</h3>
                    <span class="post">{{ testimonial.title }}</span>
                  </div>
                {% endfor %}
              </div>
          </div>
      </div>
  </div>
</div>
{% endif %}

<div class="strip strip-grey">
  <div class="container pt-4 pb-2 pt-md-6 pb-md-6">
    <div class=""row">
      <div class="col-12 mb-1"><h1>{{ site.data.strings.latest_post }}</h1></div>
      <div class="row justify-content-start pb-4">
        <div class="col-12 col-md-6">
          <a href="{{ site.posts.first.url | relative_url }}">
            <img class="img-thumbnail" src={{ site.posts.first.image }} alt="">
          </a>
        </div>
        <div class="col-12 col-md-6">
          <div class="d-flex flex-column">
            <h2 class="service-title">
              <a href="{{ site.posts.first.url | relative_url }}">{{ site.posts.first.title }}</a>
            </h2>
            <p><em>
              By {{ site.posts.first.author }}<br>
              Posted {{ site.posts.first.date | timeago }}
            </em></p>
            <h3>{{ site.posts.first.excerpt | markdownify | strip_html | truncate: 140 }}</h3>
            <a href="{{ site.posts.first.url | relative_url }}">Read more</a>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <a class="button button-primary" href="{{ "posts" | relative_url }}">{{ site.data.strings.all_posts }}</a>
        </div>
      </div>
    </div>
  </div>
</div>